.profile__edit-button {
  width: 18px;
  height: 18px;
  background-color: black;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 7.5px;
  align-self: center;
  grid-area: button;
  border: 1px solid white;
  margin-top: 3px;
}

@media (min-width:600px) and (max-width: 899px) {
  .profile__edit-button {
    margin-top: 3px;
  }
}

@media (min-width: 600px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}

@media (min-width:899px) {
  .profile__edit-button {
    margin-top: 7px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
