.popup__input {
  padding: 0;
  display: block;
  width: 358px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
}

@media (max-width: 540px) {
  .popup__input {
    width: 238px;
  }
}
