.profile {
  margin-top: 38.25px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .profile {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .profile {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 20px;
  }
}
