.cards__image {
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;

}

.cards__delete-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(/images/delete-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 19.3px;
}

.cards__delete-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
